<!DOCTYPE html>
<html lang="en">
<head>
    <title>DB Term Project</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<div class="container">
    <div class="header">
        <h3 class="text-muted">DB Term Project</h3>
    </div>

    <div class="jumbotron">
        <h1>MY PAge</h1>
        반갑습니다. {{nn}}님<br>
        병원, 환자, 상점 중 골라주세요.
        <form class="form-insert" method="POST">
            <select class="form-insert" name="inputposition">
                <option value="patient"> 환자
                <option value="clinic" selected> 병원
                <option value="store"> 상점
            </select>
            <br>

            <button type="submit" id="btnset" class="btn btn-lg btn-primary btn-block">확인</button>
        </form>

    </div>

</div>
</body>
</html>