<!DOCTYPE html>
<html lang="en">
<head>
    <title>DB Term Project</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<div class="container">
    <div class="header">
        <h3 class="text-muted">DB Term Project</h3>
    </div>

    <div class="jumbotron">
        안녕하세요 {{nn}}님, 상호명을 입력해주세요.<br>
        <form class="form-insert" method="POST">
            <input type="text" name="inputsname" id="inputsname" class="form-control" placeholder="store name" required autofocus>

            <button type ="submit" id="btnlogin" class="btn btn-lg btn-primary btn-block"  >Submit</button>
        </form>
    </div>

</div>
</body>
</html>